@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
}

/*================== for index css =================*/
.top-section {
	padding-top: 30px;
}
.top-section-bg {
	background-image: url(./assets/images/index/index-hero-bg.png);
	height: 910px;
	background-size: cover;
	background-position: center;
}
.web-logo img {
	width: 83px;
	height: 83px;
}

.top-section .navbar-nav .nav-item .nav-link {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
}


.hero-section {
  margin-top: 214px;
  color: #fff;
}
.hero-section span {
  font-size: 36px;
}
.hero-section h1 {
  font-size: 62px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
}

.pfi-bg{
	background-image: url(./assets/images/index/Rectangle_23.svg);
	background-size: cover;
	background-position: center;
}

.section-main {
  position: relative;
}
.about-pfi-section {
  height: 600px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 829px;
  z-index: -1;
}


.about-pfi-section h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 42px;
  display: inline-block;
  position: relative;
  margin-bottom: 63px;
}
.about-pfi-section h2:after {
  background: #9BCA3C;
  content: "";
  height: 10px;
  width: 103px;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 5px;
}