@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
  color: #333;
}

/*================== for index css =================*/
.top-section {
	padding-top: 30px;
}
.top-section-bg {
	background-image: url(./assets/images/index/index-hero-bg.png);
	height: 910px;
	background-size: cover;
	background-position: center;
}
.web-logo img {
	width: 83px;
	height: 83px;
}

.top-section .navbar-nav .nav-item .nav-link {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
}


.hero-section {
  padding-top: 100px;
  color: #fff;
}
.hero-section span {
  font-size: 36px;
}
.hero-section h1 {
  font-size: 62px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
}

.pfi-bg{
	background-image: url(./assets/images/index/Rectangle_23.svg);
	background-size: cover;
	background-repeat: no-repeat;
 background-position: center;
}
.about-sec{
  margin-top: 150px;
}
.about-w{
   padding-bottom: 278px;
}
.section-main {
  position: relative;
  z-index: 1;
}



.about-pfi-section h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 42px;
  display: inline-block;
  position: relative;
  margin-bottom: 63px;
}
.about-pfi-section h2:after {
  background: #9BCA3C;
  content: "";
  height: 10px;
  width: 103px;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 5px;
}


.roadmap-section .section-title h1 {
  font-size: 42px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}
.roadmap-section .section-title h1:after {
  position: absolute;
  left: 16%;
  content: "";
  background-color: #9BCA3C;
  height: 10px;
  width: 133px;
  border-radius: 10px;
  bottom: -5px;
}
.roadmap-section .left-side img {
  width: 167px;
  height: 147px;
}


.roadmap-section .right-side {
  margin-bottom: 146px;
}

.donate-bg {
  background-image: url(./assets/images/roadmap/Rectangle.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  height: 1061px;
  background-size: cover;
}


.donate-section .section-title h1 {
  font-size: 42px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  margin-bottom: 60px;
}
.donate-section .section-title h1:after {
  position: absolute;
  right: 10px;
  content: "";
  background-color: #9BCA3C;
  height: 10px;
  width: 133px;
  border-radius: 5px;
  bottom: -10px;
}
.donate-section .section-title {
  margin-top: 180px;
}